{#
/**
 * @file aegir_example.html.twig
 * Default theme implementation to present Ægir Example data.
 *
 * This template is used when viewing Ægir Example pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_aegir_example()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('aegir_example') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
